In [4]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

In [45]:
df = pd.read_excel('single protein.xlsx')

In [46]:
y = pd.get_dummies(df.type)
y = y['Tumor']

In [47]:
df = df[['Her2', 'ER', 'PR', 'SCRIB', 'WASF3']]

#df['intercept'] = 1.0

In [48]:
df

     Her2     ER     PR     SCRIB     WASF3
0   1.495  1.643  1.217  1.245628  1.056299
1   2.345  1.200  1.463  1.591088  1.261088
2   2.972  4.752  1.305  4.890120  2.726646
3   2.551  1.736  1.110  1.783900  0.878547
4   2.808  1.901  1.270  1.185551  1.091645
5   3.356  1.904  1.551  1.565114  1.600193
6   3.855  1.642  1.696  1.343960  1.062211
7   1.211  0.532  1.724  1.310195  1.023109
8   0.720  1.094  0.546  1.292902  1.299881
9   0.962  1.867  0.584  2.266032  2.168214
10  1.498  1.287  1.469  1.021016  1.237091
11  1.438  1.560  1.911  1.911127  1.094447
12  1.045  1.416  0.914  1.442570  1.214936
13  1.272  1.524  1.348  1.121469  1.585660
14  1.591  1.732  1.017  1.369239  1.071802
15  1.141  1.031  0.858  1.969142  1.613960

In [49]:
logit = sm.(y, df)

In [50]:
res = logit.fit()

Optimization terminated successfully.
         Current function value: 0.451950
         Iterations 7

In [51]:
print(res.summary())

                          MNLogit Regression Results
==============================================================================
Dep. Variable:                  Tumor   No. Observations:                   16
Model:                        MNLogit   Df Residuals:                       11
Method:                           MLE   Df Model:                            4
Date:                Thu, 22 Oct 2020   Pseudo R-squ.:                  0.3168
Time:                        23:39:30   Log-Likelihood:                -7.2312
converged:                       True   LL-Null:                       -10.585
Covariance Type:            nonrobust   LLR p-value:                    0.1522
==============================================================================
   Tumor=1       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Her2           2.8364      1.790      1.585      0.113      -0.671       6.344
ER            -1.8258      1.930     -0.946      0.344      -5.608       1.957
PR            -2.5960      1.600     -1.622      0.105      -5.732       0.540
SCRIB          1.3965      1.883      0.742      0.458      -2.295       5.088
WASF3         -0.2894      1.922     -0.151      0.880      -4.056       3.478
==============================================================================

In [52]:
print(res.summary2())

                       Results: MNLogit
==============================================================
Model:              MNLogit          Pseudo R-squared: 0.317
Dependent Variable: Tumor            AIC:              24.4624
Date:               2020-10-22 23:39 BIC:              28.3253
No. Observations:   16               Log-Likelihood:   -7.2312
Df Model:           4                LL-Null:          -10.585
Df Residuals:       11               LLR p-value:      0.15217
Converged:          1.0000           Scale:            1.0000
No. Iterations:     7.0000
--------------------------------------------------------------
Tumor = 0   Coef.   Std.Err.     t     P>|t|    [0.025  0.975]
--------------------------------------------------------------
     Her2   2.8364    1.7896   1.5849  0.1130  -0.6712  6.3439
       ER  -1.8258    1.9299  -0.9460  0.3441  -5.6083  1.9568
       PR  -2.5960    1.6001  -1.6224  0.1047  -5.7321  0.5401
    SCRIB   1.3965    1.8833   0.7415  0.4584  -2.2947  5.0877
    WASF3  -0.2894    1.9220  -0.1506  0.8803  -4.0564  3.4776
==============================================================

In [53]:
A = np.identity(len(res.params))
A = A[1:,:]
f = res.f_test(A)

In [54]:
f.pvalue

array(0.55770911)

In [55]:
res.pvalues

              0
Her2   0.112982
ER     0.344124
PR     0.104718
SCRIB  0.458385
WASF3  0.880306

In [56]:
res.predict(df)

           0         1
0   0.618911  0.381089
1   0.074512  0.925488
2   0.082746  0.917254
3   0.031634  0.968366
4   0.073341  0.926659
5   0.023232  0.976768
6   0.006043  0.993957
7   0.617371  0.382629
8   0.485836  0.514164
9   0.415629  0.584371
10  0.699858  0.300142
11  0.798729  0.201271
12  0.582038  0.417962
13  0.827332  0.172668
14  0.422578  0.577422
15  0.196342  0.803658