In [1]:
from Bio.Seq import Seq
from Bio.SeqUtils import MeltingTemp
from Bio.SeqUtils import lcc, GC
from Bio import pairwise2
from Bio.pairwise2 import format_alignment
from Bio import SeqIO,SeqRecord
from Bio.Alphabet import IUPAC

from sklearn.utils import shuffle
from joblib import dump, load
import numpy as np
import pandas as pd
from tqdm import tqdm
tqdm.pandas(ascii=True)
%matplotlib inline

In [19]:
products = load('./data/0009_31.757.prod')

100%|##########| 21/21 [00:00<00:00, 2505.34it/s]

100%|##########| 21/21 [00:00<00:00, 2051.63it/s]

In [23]:
df.to_excel('./ssDNAs.xlsx')

In [24]:
df

                                                  seq  GC_rate       lcc
0   (T, G, C, T, G, T, C, A, C, T, A, A, G, A, T, ...     47.5  1.996387
1   (T, A, C, C, T, T, C, A, A, A, C, G, A, G, G, ...     45.0  1.935075
2   (T, A, G, A, G, G, C, A, A, G, A, A, G, C, G, ...     47.5  1.875252
3   (C, G, A, A, G, G, T, C, A, A, A, T, T, C, G, ...     50.0  1.992774
4   (G, G, G, C, G, G, T, G, G, A, T, T, C, G, T, ...     57.5  1.908872
5   (T, G, A, T, A, G, G, C, C, T, C, A, T, C, G, ...     50.0  1.996387
6   (T, T, A, T, A, G, G, G, C, A, T, A, A, G, A, ...     50.0  1.981863
7   (T, G, T, T, T, A, G, T, C, C, G, A, G, G, C, ...     45.0  1.952724
8   (C, C, G, C, G, A, G, C, G, G, G, T, C, G, G, ...     60.0  1.926357
9   (A, T, C, G, A, G, T, T, C, C, T, T, C, G, G, ...     50.0  1.963421
10  (A, T, G, A, A, T, C, T, G, G, A, G, C, G, G, ...     45.0  1.926121
11  (T, A, T, A, G, C, G, C, C, A, T, G, G, A, G, ...     40.0  1.917408
12  (A, A, T, G, T, C, A, C, C, A, T, G, C, G, G, ...     50.0  1.981863
13  (A, A, T, T, G, C, A, A, T, G, T, C, G, T, G, ...     50.0  1.985475
14  (T, G, C, T, C, G, A, G, T, G, G, G, C, T, A, ...     52.5  1.973327
15  (A, C, C, C, A, T, T, G, T, A, A, G, A, C, C, ...     52.5  1.931291
16  (T, G, T, C, T, G, T, C, C, G, A, G, C, A, G, ...     50.0  1.992774
17  (G, C, T, A, G, A, A, G, T, C, T, A, C, C, G, ...     52.5  1.988759
18  (A, T, A, A, G, A, T, A, T, G, C, A, C, G, A, ...     37.5  1.917408
19  (A, T, A, C, T, A, G, G, T, G, A, C, T, C, A, ...     35.0  1.922926
20  (G, G, T, G, C, C, T, A, C, C, C, G, A, T, T, ...     60.0  1.917408